%h2 マイページ

%table
  %tr
    %td id
    %td= current_user.id
  %tr
    %td email
    %td= current_user.email
  %tr
    %td rating
    %table
      %tr
        %td IIDX
        %td 1600
      %tr
        %td pop'n
        %td 1500
